body {
    color: #E3E2DF;
    background-color: #282828;
    font-family: "Verdana", Times, Sans-serif;
}
  
input{
height: 30px;
border-radius: 4px;
position: relative;
cursor: pointer;
}

input[type="text"]
{
    font-size:15px;
}

button {
color: #FFFFFF;
width: 150px;
height: 60px;
position: relative;
background-color: #008CBA;
animation-name: example;
animation-duration: 4s;
}

.button {
border-radius: 4px;
text-align: center;
transition: all 0.5s;
cursor: grab;
margin: 5px;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}

.button span {
cursor: grab;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}
tr:hover {background-color: #008CBA;}
tr {
cursor: grab
}

.vertical-center {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
