body {
    color: white;
    background-color: black;
    font-family: "Verdana", Times, Sans-serif;
  }
  
input{
height: 30px;
border-radius: 4px;
cursor: pointer;
}

input[type="text"]
{
    font-size:15px;
}

button {
color: #FFFFFF;
width: 150px;
height: 60px;
position: relative;
background-color: #008CBA;
animation-name: example;
animation-duration: 4s;
}

.button {
border-radius: 4px;
text-align: center;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}
